@page "{id:int}"
@model FirmwareServer.Pages.Applications.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<page-header _title="@ViewData["Title"]">
    <div class="align-self-end ml-auto">
        <a class="btn btn-secondary" asp-page="./Index"><i class="far fa-arrow-alt-circle-left"></i> Go back</a>
        <a class="btn btn-primary" asp-page="./Upload" asp-route-id="@Model.Application.Id"><i class="fas fa-upload"></i> Upload firmware</a>
    </div>
</page-header>

<partial name="_StatusMessage" for="StatusMessage" />

<partial name="_Details" for="Application" />

<div class="table-responsive">
    <table class="table table-sm table-hover table-align-middle">
        <thead class="thead-light">
            <tr>
                <th class="text-nowrap">&nbsp;</th>
                <th class="text-nowrap">Name</th>
                <th class="text-nowrap">Uploaded</th>
                <th class="text-nowrap">Filename</th>
                <th class="text-nowrap">&nbsp;</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var firmware in Model.Firmware)
            {
                <tr>
                    <td class="text-left">
                        @if (firmware.Id == Model.Application.FirmwareId)
                        {
                            <span class="badge badge-pill badge-success"><i class="fas fa-check"></i></span>
                        }
                    </td>
                    <td>@firmware.Name</td>
                    <td class="text-nowrap">@Html.DisplayFor(m => firmware.Created)</td>
                    <td>@firmware.Filename</td>
                    <td class="text-right text-nowrap">
                        <a asp-page="/Firmware/Details" asp-page-handler="download" asp-route-id="@firmware.Id" class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></a>
                        <a asp-page="/Firmware/Details" asp-route-id="@firmware.Id" class="btn btn-primary btn-sm"><i class="fas fa-info-circle"></i></a>
                        <a asp-page="/Firmware/Edit" asp-route-id="@firmware.Id" class="btn btn-success btn-sm"><i class="fas fa-pencil-alt"></i></a>
                        <a asp-page="/Firmware/Delete" asp-route-id="@firmware.Id" class="btn btn-danger btn-sm @(firmware.Id == Model.Application.FirmwareId ? "disabled" : "")"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>