@page "{id:int}"
@model FirmwareServer.Pages.Firmware.DetailsModel
@{
    ViewData["Title"] = "Firmware details";
}

<page-header _title="@ViewData["Title"]">
    <div class="align-self-end ml-auto">
        <a class="btn btn-secondary" asp-page="/Applications/Details" asp-route-id="@Model.Firmware.ApplicationId"><i class="far fa-arrow-alt-circle-left"></i> Go back</a>
    </div>
</page-header>

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <dl>
            <dt>@Html.DisplayNameFor(x => x.Firmware.Name)</dt>
            <dd>@Html.DisplayFor(x => x.Firmware.Name)</dd>

            <dt>@Html.DisplayNameFor(x => x.Firmware.Filename)</dt>
            <dd>@Html.DisplayFor(x => x.Firmware.Filename)</dd>

            <dt>@Html.DisplayNameFor(x => x.Firmware.Created)</dt>
            <dd>@Html.DisplayFor(x => x.Firmware.Created)</dd>

            <dt>@Html.DisplayNameFor(x => x.Firmware.MD5)</dt>
            <dd>@Html.DisplayFor(x => x.Firmware.MD5)</dd>

            <dt>Size</dt>
            <dd>@Model.Firmware.Data.Length bytes (@((Model.Firmware.Data.Length / 1024.0).ToString("F2")) KiB)</dd>
        </dl>
    </div>

    <div class="col-md-6">
        <dl>
            <dt>@Html.DisplayNameFor(x => x.Firmware.Description)</dt>
            <dd style="white-space: pre">@Html.DisplayFor(x => x.Firmware.Description)</dd>
        </dl>
    </div>
</div>