@page "{id:int}"
@model FirmwareServer.Pages.Firmware.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<page-header _title="@ViewData["Title"]">
    <div class="align-self-end ml-auto">
        <a class="btn btn-secondary" asp-page="./Index"><i class="far fa-arrow-alt-circle-left"></i> Go back</a>
    </div>
</page-header>

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <dl>
            @*<dt>Active</dt>
                <dd><partial name="DisplayTemplates/Boolean" model="Model.Firmware.Id == Model.Application.FirmwareId" /></dd>*@

            <dt>@Html.DisplayNameFor(x => x.Firmware.Name)</dt>
            <dd>@Html.DisplayFor(x => x.Firmware.Name)</dd>

            <dt>@Html.DisplayNameFor(x => x.Firmware.Filename)</dt>
            <dd>@Html.DisplayFor(x => x.Firmware.Filename)</dd>

            <dt>@Html.DisplayNameFor(x => x.Firmware.Created)</dt>
            <dd>@Html.DisplayFor(x => x.Firmware.Created)</dd>

            <dt>@Html.DisplayNameFor(x => x.Firmware.MD5)</dt>
            <dd>@Html.DisplayFor(x => x.Firmware.MD5)</dd>

            <dt>Size</dt>
            <dd>@Model.Firmware.Data.Length bytes (@((Model.Firmware.Data.Length / 1024.0).ToString("F2")) KiB)</dd>

            <dt>@Html.DisplayNameFor(x => x.Firmware.Description)</dt>
            <dd style="white-space: pre">@Html.DisplayFor(x => x.Firmware.Description)</dd>
        </dl>
    </div>

    <div class="col-md-6">
        <fieldset>
            <legend>Devices</legend>
            <table class="table table-sm ">
                <thead>
                    <tr class="thead-light">
                        <th>Name</th>
                        <th>Last online</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var device in Model.Devices)
                    {
                        <tr>
                            <td>@device.Name</td>
                            <td>@Html.DisplayFor(x => device.LastOnline)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </fieldset>
    </div>
</div>